<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Score #<%= @score.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/scores" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/delete_score/<%= @score.id %>" class="btn btn-block btn-outline-secondary">
          Delete score
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Total score
      </dt>
      <dd>
        <%= @score.total_score %>
      </dd>

      <dt>
        Question types
      </dt>
      <dd>
        <%= @score.question_types %>
      </dd>

      <dt>
        Response times
      </dt>
      <dd>
        <%= @score.response_times %>
      </dd>

      <dt>
        Setting
      </dt>
      <dd>
        <%= @score.setting_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@score.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@score.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Edit score
    </h2>

    <form action="/modify_score/<%= @score.id %>"  method="post" >
      <div class="form-group">
        <label for="total_score_box">
          Total score
        </label>

        <input type="text" id="total_score_box" name="total_score_from_query" class="form-control" value="<%= @score.total_score %>">
      </div>

      <div class="form-group">
        <label for="question_types_box">
          Question types
        </label>

        <input type="text" id="question_types_box" name="question_types_from_query" class="form-control" value="<%= @score.question_types %>">
      </div>

      <div class="form-group">
        <label for="response_times_box">
          Response times
        </label>

        <input type="text" id="response_times_box" name="response_times_from_query" class="form-control" value="<%= @score.response_times %>">
      </div>

      <div class="form-group">
        <label for="setting_id_box">
          Setting
        </label>

        <input type="text" id="setting_id_box" name="setting_id_from_query" class="form-control" value="<%= @score.setting_id %>">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Update score
      </button>
    </form>
  </div>
</div>

<hr>
