<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

    <div class="col">
      <div class = "text-center">
        <font size = "100"> <%=@problem %> </font>
      </div>

      <form action="/insert_result" method ="post"  autocomplete="off" name="user_answer">
        <div>
            <input type="text" id="user_answer_from_query" name="user_answer_from_query" class="form-control" autofocus="autofocus">
        </div>
        <div>
            <input type="hidden" id="first_number_from_query" name="first_number_from_query" class="form-control" value = <%=@problem_info.fetch(:first_number_from_query)%>>
        </div
        <div>
            <input type="hidden" id="second_number_from_query" name="second_number_from_query" class="form-control" value = <%=@problem_info.fetch(:second_number_from_query)%>>
        </div>
        <div>
            <input type="hidden" id="operation_from_query" name="operation_from_query" class="form-control" value = <%=@problem_info.fetch(:operation_from_query)%>>
        </div>
        <div>
            <input type="hidden" id="correct_answer_from_query" name="correct_answer_from_query" class="form-control" value = <%=@problem_info.fetch(:correct_answer_from_query)%>>
        </div>
        <div>
            <input type="hidden" id="id_from_path" name="id_from_path" class="form-control" value = <%=@current_setting.id%>>
        </div>
        <div>
        <button class="btn btn-block btn-outline-secondary">
          Submit Answer
        </button>
        </div>
      </form>
    </div>
    <hr>
    <div class="col">
      <a href= <%="/settings/" + params.fetch(:id_from_path)%> class="btn btn-block btn-outline-secondary">
        End Practice
      </a>
    </div>

    <script>
        var timer = setTimeout(function() {
            document.forms["user_answer"].submit();
        }, 10000);
    </script>
  </body>
</html>
