<h1>
  <font size = 50> Setting <%= @setting.id %> </font>
</h1>
<%=@data%>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable(<%=@data.to_json.html_safe%>);

    var options = {
      title: 'Performance Over Time',
      curveType: 'function',
      legend: { position: 'bottom' },
      backgroundColor: { fill:'transparent' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

    chart.draw(data, options);
  }
</script>

<div id="curve_chart"></div>
<hr>
<table class="table">
  <tr>
    <th>
      Date
    </th>

    <th>
      Number Correct
    </th>

    <th>
      Number Attempted
    </th>

    <th>
      Percent Correct
    </th>
  </tr>

  <% @total_attempts.keys.each do |date| %>
    <tr>
      <td>
        <%= date%>
      </td>

      <td>
        <%= @total_correct[date].length %>
      </td>

      <td>
        <%= @total_attempts[date].length %>
      </td>

      <td>
        <%= @total_correct[date].length*100/@total_attempts[date].length %> %
      </td>
    </tr>
  <% end %>
</table>


